<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Accident</title>
</head>
<body>
<div id="main">
    <div class="container">
        <h1>Login page</h1>
        <div class="form">
            <form method="post" th:action="@{/login}">
                <input type="text" name="username" placeholder="Enter username..." />
                <input type="password" name="password" placeholder="Enter password..." />
                <input type="submit" value="SignIn" />
            </form>
            <a href="/registration">Registration</a>
        </div>
    </div>
</div>
</body>
</html>