<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Accident</title>
</head>
<body>
<div id="main">
    <div class="form">
        <form method="post">
            <input type="text" name="name" />
            <input type="text" name="text" />
            <input type="text" name="address" />
            <input type="submit" value="Add" />
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="accident : ${accidents}">
            <td>
                <i th:text="${accident.id}"></i>
            </td>
            <td>
                <b th:text="${accident.name}"></b>
            </td>
            <td>
                <span th:text="${accident.text}"></span>
            </td>
            <td>
                <span th:text="${accident.address}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>